/* You can add global styles to this file, and also import other style files */

.wide {
  width: 100%;
  height: 500px;
  background-image: url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size: cover;
}

  .wide img {
    width: 100%;
  }

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 14pt;
  padding: 25px;
  text-align: center;
}

.line {
  padding-top: 20px;
  white-space: no-wrap;
  overflow: hidden;
  text-align: center;
}

.navbar{
  margin-bottom: 0px;
}

.box300x300{
  height: 300px;
  width: 300px;
}

.image-clip{
  overflow: hidden;
  background-position: center;
  
}


