<form>
  <h1>Datos Contacto</h1>


  <div class="form-group">
    <label>Name</label>
    <input class="form-control" required [(ngModel)]="model.name" type="text" />

    <label>Surname</label>
    <input class="form-control" required [(ngModel)]="model.surname" type="text" />
  </div>

</form>
