
<app-navbar></app-navbar>

<div class="wide">
  <div class="col-sm-5 line"><hr></div>
  <div class="col-sm-2 logo">Logo</div>
  <div class="col-sm-5 line"><hr></div>
</div>

<div class="container">

  <div id="top-shopping-cart">
    <p> Aqui estan la cesta de la compra <p>

      <!--<app-contactdataform [model]="facturationData">

      </app-contactdataform>

      <app-contactdataform  [model]="deliveringData">

      </app-contactdataform>--> 


  <ul *ngFor="let product of shoppingCart.products">
    <li>{{product.name}}</li>
  </ul>

  <div class="row text-center p-3">
    <button class="col-sm-12 btn delete-button" (click)="checkout()"> Terminar </button>
  </div>
</div>
</div>
