
<h2>My products</h2>

  <div class="products row">
    <div class="col-sm-3 product" *ngFor="let product of products">
      <div class="row p-3">
        <div class="col-sm-12" style='background-image:url("{{product.photo}}")' class="box300x300 image-clip">
          <img src="{{product.photo}}">
        </div>
      </div>
      <div class="row text-center p-3">
        {{product.name}}
      </div>

      <div class="row text-center p-3">
        {{product.price}}$
      </div>

      <div class="row text-center p-3">
        <button class="col-sm-12 btn delete-button" (click)="addProductToShoppingCart(product)"> Añadir a la cesta </button>
      </div>
    </div>
  </div>

  <div class="error" *ngIf="error">{{error}}</div>

  <div class="row">
    <button (click)="addProduct()">Add New product</button>
  </div>

  <div *ngIf="addingProduct">
    <!--<my-product-detail (close)="close($event)"></my-product-detail>-->
  </div>

  <div *ngIf="selectedProduct">
    <h2>
      {{selectedproduct.name | uppercase}} is my product
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>

